/*************************************************************************************/
body .demo-ribbon {
    position: fixed;
    top: 25%;
    left: 0px;
    z-index: 99999999;
    /*width: 120px;*/
    height: 70px;
    text-align: center;
}

body .demo-ribbon span {
    font-size: 10px;
    color: #FFF;
    text-transform: uppercase;
    line-height: 20px;
    width: 120px;
    height: 120px;
    display: block;
    background: #355fac;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    background: linear-gradient(#355fac 0%, #355fac 100%);
    position: absolute;
    left: -100px;
    letter-spacing: .2rem;
}

body .demo-ribbon span::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: -1;
}

/*************************************************************************************/
input[type=number].no-arrow::-webkit-inner-spin-button,
input[type=number].no-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
/*************************************************************************************/
input[name="addons_quanity[]"],input[name="package_quanity[]"] {
    cursor: default;
}
/*************************************************************************************/
.frequency-1 input[type="radio"]+label {
    /* one time */
    background: #f7f7f7;
}

.frequency-2 input[type="radio"]+label {
    /* weekly */
    background: #e0f7eb;
}

.frequency-3 input[type="radio"]+label {
    /* bi weekly */
    background: #ebeff6;
}

/*************************************************************************************/
/* in design it have type=radio but we need type=checkbox */
.which-housekeeper-wrapper input[type="checkbox"]+label {
    height: auto;
    text-align: center;
    padding: 0px;
    background: var(--normal-color);
    border-radius: 7px;
    overflow: hidden;
}

/*************************************************************************************/
.jq-toast-wrap {
    /* show in top */
    z-index: 9999999 !important;
}

/*************************************************************************************/
#name-popup .popup-main-cont {
    width: 400px;
}

#booking-cancel-confirm .popup-main-cont {
    width: 550px;
}

#reschedule-popup .popup-main-cont {
    width: 600px;
}
/**********  address suggestion listing (google location picker) **/
.pac-container {
    z-index: 9999999;
}

#address-pick-popup .popup-main-cont {
    width: 600px;
}

#coupon-apply-popup .popup-main-cont {
    width: 450px;
}

#change-pay-mode-popup .popup-main-cont {
    width: 450px;
}


#addon-details-popup {
    height: 100vh;
    padding: 5vh 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#addon-details-popup .popup-main-cont {
    width: 600px;
    padding: 0px;
}

#addon-details-popup .booking-packages-price {
    float: none !important;
}

#addon-details-popup .booking-packages-price label {
    padding: 12px 0px;
    border-radius: 50px;
    background: var(--normal-color);
    border: 1px solid #68cae2;
    text-align: center !important;
    float: none !important;
}

#addon-details-popup .content {
    padding: 40px 40px 20px;
}

#addon-details-popup .content ul {
    margin: 0px;
    padding: 20px 0px;
    list-style: none;
}

#addon-details-popup .content li {
    display: block;
    background: url(../images/tick.png) no-repeat left top 9px / 18px;
    padding: 7px 0px 7px 30px;
    line-height: 20px;
}

#addon-details-popup .strike-amount {
    font-size: 15px;
    color: #999;
    text-decoration: line-through;
}

#addon-details-popup .addon-price label {
    padding: 12px 0px;
    border-radius: 50px;
    background: var(--normal-color);
    border: 1px solid #68cae2;
    text-align: center !important;
    float: none !important;
}

a[data-action="package-details"]{
    font: bold 13px/18px 'Poppins', Sans-Serif;
    color: var(--btn-color);
    text-decoration: underline;
}

input[name*="otp-"]{
    cursor: pointer;
    caret-color: #355fac;
}

input[name*="otp-"]::selection {
    background: yellow;
}
.booking-failed {
    background-color: #fefdfc;
}
/******************************************************* Absolute Center Spinner *******************************************/
#loader{
    display: none;
}
.loading {
    position: fixed;
    z-index: 99999999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.loading img {
    position: absolute;
    z-index: 9999999999;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .7));
    background: -webkit-radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .7));
}
/******************************************************* Absolute Center Spinner END *******************************************/